.containerNavbar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* position: absolute; */
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
}

.navbar {
    height: 21px;
    width: 495px;
    /* position: absolute; */
    left: 58.75%;
    right: 6.88%;
    top: 0.88%;
    bottom: 98.49%;
}

.navbar p {
    /* position: absolute; */
    display: flex;
    align-items: center;

    height: 21px;
    top: 29px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    

}

.navbar .firsP {
    width: 45px;
    left: 0%;
}
.navbar .SecondP {
    width: 75px;
    left: 10%;
}
.navbar .thirtP {
    width: 73px;
    left: 26%;
}
.navbar .fourP {
    width: 98px;
    left: 42%;
}
.navbar .fiveP {
    width: 74px;
    left: 62%;
}