@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.navbar-link {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 10px;
  color: #4f4f4f !important;
}

@media (max-width: 992px) {
  .navbar-link {
    margin: 5px;
  }
}
